extends layouts/master

block contents
<<<<<<< HEAD
	include includes/header.jade
=======
	include includes/mixin.header.jade

	+header(class="tranlucent absolute")
>>>>>>> f2171eea75f0335ea35d3a5e00d38c9196a279f7
	include includes/header-sub.jade
	include includes/footer.jade
