extends layouts/master

block contents
	include includes/mixin.header.jade
	+header(class="deepskyblue-color")
	include includes/header-sub.jade
	include includes/why-artphil.jade
	include includes/mixin.footer.jade
	+footer(class="deepskyblue-color")
