extends layouts/master

block contents
	include includes/mixin.header.jade
	+header(class="tranlucent absolute")
	include includes/slider-main.jade
	include includes/mixin.footer.jade
	+footer(class="tranlucent absolute")

block scripts
	script(type="application/javascript", src="../assets/js/imagesloaded.pkgd.min.js")
	script(type="application/javascript", src="../assets/js/jquery.carouFredSel-6.2.1-packed.js")
	script(type="application/javascript", src="../assets/js/jquery.touchSwipe.min.js")