extends layouts/master

block contents
	include includes/mixin.header.jade
	+header(class="lightlime-color")

	include includes/mixin.header-sub.jade
	+snb('Regular Course', 'Intensive Course', 'Special Courses', 'Collaborative Project', 'Figure Drawing Class')

	include includes/regular-course.jade

	include includes/intensive-course.jade

	include includes/special-courses.jade

	include includes/collaborative-project.jade
	
	include includes/figure-drawing-class.jade
	
	include includes/mixin.footer.jade
	+footer(class="static")

block scripts
	script(type="application/javascript", src="../assets/js/imagesloaded.pkgd.min.js")
	script(type="application/javascript", src="../assets/js/jquery.carouFredSel-6.2.1-packed.js")
	script(type="application/javascript", src="../assets/js/jquery.touchSwipe.min.js")
