extends layouts/master

block contents
	include includes/mixin.header.jade
	+header(class="hotpink-color")

	include includes/school.jade

	include includes/mixin.footer.jade
	+footer(class="static")
