.accepted
  .container
    .row
      .col-xs-12
        .artphil-h1 Result
    .row.accepted-row2
      .col-xs-12
        .accepted-des
          | 합격을 축하 드립니다. 아트필은 현재까지 
          br
          | 총 70,450 명의 합격생 / 총 $312,423,000의 장학금을 받았습니다.
    .row
      .col-xs-12
        .artphil-h1 List          
    .row.accepted-row3
      .col-xs-12.col-md-3.col-item
        .accepted-year
          .accepted-year-title Year <span class="sub">연도</span>
          .accepted-year-sep
          ul.list-unstyled.accepted-year-list
            - for (var i = 15; i > 0; i--) {
                li #[a(href="#") 20#{i} (전공별 / 학교별 / 장학생) ]
            - }
      .col-xs-12.col-md-9.col-item
        table.table.accepted-table
          thead
            tr
              th 학교
              th 이름 { 학생 ID }
              th 전공
              th 장학금
          tbody
            - for (var i = 30; i > 0; i--) {
              tr
                td Harvard U. (M.Arch)
                td Anon-5162
                td Architecture
                td <span class="red">첫해 $7500 + 추가발표</span>
            - }
