#collaborative-project.collaborative-project
  .container
    .artphil-h1 Collaborative Project
      span 공동작업
  .clearfix
  .collaborative-project-content
    .program-slider
      #caroufredsel-slider-collaborative-project.caroufredsel-slider
        ul.sliders
          li.slide-item
            img.slide-image(alt='slide-image1', src='../assets/images/collaborative-project-slider1.jpg')
          li.slide-item
            img.slide-image(alt='slide-image2', src='../assets/images/collaborative-project-slider1.jpg')
          li.slide-item
            img.slide-image(alt='slide-image3', src='../assets/images/collaborative-project-slider1.jpg')
        .clearfix
        .slider-control-wrap
          .container
            .container-inner
              a#caroufredsel-slider-collaborative-project-prev.slider-control.prev-btn(role='button', href='#')
                img(src='../assets/images/icon/icon-slider-prev.png', alt='icon-slider-prev')
              a#caroufredsel-slider-collaborative-project-next.slider-control.next-btn(role='button', href='#')
                img(src='../assets/images/icon/icon-slider-next.png', alt='icon-slider-next')
        #caroufredsel-slider-collaborative-project-pagination.slider-indicators.indicators-center-bottom
    .program-detail
      .container
        .row
          .col-xs-12
            .program-h2 
              | Collaborate with other artists  
              span 공동작품 
            .content
              p
                | 매년, 아트필은 학생들에게 실내 공간의 한계를 벗어나 학습 구성원들과 함께 야외에서 공동 작업을 할 수 있는 기회를 제공합니다. 팀 단위로 미리 설치 공간을 방문하여 작업에 대해 
                | 미리 구상회의를 거친 다음 정해진 날짜에 함께 작품을 완성하여 발표합니다. 서로 다른 팀의 다양한 작품과 발표를 보며 크리틱 하는 시간과 선생님들의 심사도 이루어집니다. 
                | 공동작업을 통해 학생들은 협업의 과정을 경험하고 공간의 한계를 벗어난 대형 작품을 제작해볼 수 잇습니다. 잘 완성된 공동작업의 결과물은 학생의 포트폴리오에 차별화된
                | 요소가 됩니다. 
        .row
          .col-xs-12
            .program-h2 Video
            .content
              .embed-container
                iframe(src='https://player.vimeo.com/video/112181325', width='500', height='281', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                  p
                    a(href='https://vimeo.com/112181325') 2014 artPhil Collaboration Projects (Enhanced)
                    |  from 
                    a(href='https://vimeo.com/user27888462') ArtPhil Institute
                    |  on 
                    a(href='https://vimeo.com') Vimeo
                    | .
        .row
          .col-xs-12
            .program-h2 Books
            .content
              .embed-container
                .issuuembed(data-configid='0/10969593', style='width:525px; height:368px;')
                script(type='text/javascript', src='//e.issuu.com/embed.js', async='true')
// .collaborative-project