#collaborative-project.collaborative-project
  .container
    .artphil-h1 Collaborative Project
      span 공동작업
  .clearfix
  .collaborative-project-content
    .program-slider
      #caroufredsel-slider-collaborative-project.caroufredsel-slider
        ul.sliders
          li.slide-item
            img.slide-image(alt='slide-image1', src='../assets/images/collaborative-project-slider1.jpg')
          li.slide-item
            img.slide-image(alt='slide-image2', src='../assets/images/collaborative-project-slider1.jpg')
          li.slide-item
            img.slide-image(alt='slide-image3', src='../assets/images/collaborative-project-slider1.jpg')
        .clearfix
        .slider-control-wrap
          .container
            .container-inner
              a#caroufredsel-slider-collaborative-project-prev.slider-control.prev-btn(role='button', href='#')
                img(src='../assets/images/icon/icon-slider-prev.png', alt='icon-slider-prev')
              a#caroufredsel-slider-collaborative-project-next.slider-control.next-btn(role='button', href='#')
                img(src='../assets/images/icon/icon-slider-next.png', alt='icon-slider-next')
        #caroufredsel-slider-collaborative-project-pagination.slider-indicators.indicators-center-bottom
    .program-detail
      .container
        .row
          .col-xs-12
            .program-h2 Collaborate with other artists 
            .content
              p
                | 매년 가을, 실내 공간의 한계를 벗어나 반 구성원들과 함께 공동작업을 하는 기회가  주어집니다.팀 별로 미리 
                | 사이트를 방문하고 작품을 구상, 리서치 및 발전하여 제작한 후, 정해진 날에 함께 작품을 완성하고 발표합니다. 
                | 모든 팀들의 다양한 작품과 발표를 보며 크리틱의 시간을 갖으며 마지막으로는 선생님들의 심사가 이루어 집니다.
              p
                | 공동작품 제작을 통해 학생들은 협업과정을 경험하고 큰 스케일의 작품을 만들어 볼 수 있습니다. 잘 완성된 
                | 공동작품은 좋은 포트폴리오 작품으로 포함 될 수 있으며 내 포트폴리오에 차별화된 요소를 가지게 합니다.
        .row
          .col-xs-12
            .program-h2 Video
            .content
              .embed-container
                iframe(src='https://player.vimeo.com/video/112181325', width='500', height='281', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                  p
                    a(href='https://vimeo.com/112181325') 2014 artPhil Collaboration Projects (Enhanced)
                    |  from 
                    a(href='https://vimeo.com/user27888462') ArtPhil Institute
                    |  on 
                    a(href='https://vimeo.com') Vimeo
                    | .
        .row
          .col-xs-12
            .program-h2 Video
            .content
              .embed-container
                .issuuembed(data-configid='0/10969593', style='width:525px; height:368px;')
                script(type='text/javascript', src='//e.issuu.com/embed.js', async='true')
// .collaborative-project