include mixin.contact-block.jade

- var address = {icon: '../assets/images/contact/contact.home.png', chunks: [{ title: 'Address   <span class="ko-barun">주소</span>', des: '서울특별시 강남구 신사동 576-9번지 송전빌딩 2층  <a href="#">(지도보기)</a>' }] };

- var phone = {icon: '../assets/images/contact/contact.phone.png', chunks: [{ title: 'Tel  <span class="ko-barun">전화번호 ) </span>', des: '02-548-3453' }] };

- var email = {icon: '../assets/images/contact/contact.mail.png', chunks: [{ title: 'E-mail', des: 'admin@artphil.com' }] };

- var subway = {icon: '../assets/images/contact/contact.train.png', chunks: [{ title: 'Subway <span class="ko-barun">( 지하철 )</span>', des: '3호선 압구정역 4번 출구로 나와 전방 30M 직진 후, 우측에 있는 박정 <br/> 어학원 앞 골목(광림교회 방향), 빛 마을 길로 우회전합니다. 25M <br/> 전방에 세븐일레븐 편의점을 지나 오른쪽(2~5층)에 artPhil이 <br/> 위치하고 있습니다. 아트필 사무실은 2층입니다.' }] };

- var car = {icon: '../assets/images/contact/contact.car.png', chunks: [{ title: 'Car <span class="ko-barun">( 자동차 ) </span>', des: '압구정 현대백화점 사거리에서 역삼동 방면으로 100M 직진하여,  <br/> 우측에 있는박정 어학원 앞 골목(광림교회 방향), 빛 마을 길로 우회전<br/> 합니다. 25M 전방에 세븐일레븐 편의점을 지나 오른쪽으로 artPhil이 <br/>위치하고 있습니다. 아트필 사무실은 2층에 있습니다.' }] };

.contact-info
	.container
		.row
			.col-md-6
				.contact-info-h1 주소 및 연락처
				+contact-block(address)
				+contact-block(phone)
				+contact-block(email)
			.col-md-6
				.contact-info-h1 오시는 길
				+contact-block(subway)
				+contact-block(car)