.faculty
  .container
    h2.section-title Faculty
    .faculty-content
      .row
        .col-xs-12.col-sm-6.col-item
          article
            .content-thumb
              img(src="../assets/images/faculty1.png", alt="faculty1")
              .content-hover
                span
                  | “밥 먹었나? <br />
                  | 열심히 하고있나?”
            .content-desc
              span.ko-name 원장님
              span.en-name Hyuk-Bok Kwon
              div.info-detail 
                | &#47; C.E.O.
        .col-xs-12.col-sm-6.col-item
          article
            .content-thumb
              img(src="../assets/images/faculty2.png", alt="faculty2")
            .content-desc
              span.ko-name 강성훈 선생님
              span.en-name Sanghoon Daniel Kang
              div.info-detail 
                | &#47; Executive Director
        .col-xs-12.col-sm-6.col-item
          article
            .content-thumb
              img(src="../assets/images/faculty3.png", alt="faculty3")
            .content-desc
              span.ko-name 폴 카젠더 선생님
              span.en-name Paul Kajander
              div.info-detail 
                | &#47; Director of Pedagogy
        .col-xs-12.col-sm-6.col-item
          article
            .content-thumb
              img(src="../assets/images/faculty4.png", alt="faculty4")
            .content-desc
              span.ko-name 유영국 선생님
              span.en-name YoungKuk Yoo
              div.info-detail 
                | &#47; Associate Director
        .col-xs-12.col-sm-6.col-item
          article
            .content-thumb
              img(src="../assets/images/faculty5.png", alt="faculty5")
            .content-desc
              span.ko-name 정애란 선생님
              span.en-name Aeran Jung 
              div.info-detail 
                | &#47; Associate Director <br />
                | &#47; Head of Student Affairs
        .col-xs-12.col-sm-6.col-item
          article
            .content-thumb
              img(src="../assets/images/faculty6.png", alt="faculty6")
            .content-desc
              span.ko-name 윤서진 선생님
              span.en-name Seojin Yoon
              div.info-detail 
                | &#47; Registrar
        .col-xs-12.col-sm-6.col-item
          article
            .content-thumb
              img(src="../assets/images/faculty7.png", alt="faculty7")
            .content-desc
              span.ko-name 고배정 선생님
              span.en-name Baejeong Koh
              div.info-detail 
                | &#47; Fashion Instructor
        .col-xs-12.col-sm-6.col-item
          article
            .content-thumb
              img(src="../assets/images/faculty8.png", alt="faculty8")
            .content-desc
              span.ko-name 고배정 선생님
              span.en-name Baejeong Koh
              div.info-detail 
                | &#47; Fashion Instructor
        .col-xs-12.col-sm-6.col-item
          article
            .content-thumb
              img(src="../assets/images/faculty9.png", alt="faculty9")
            .content-desc
              span.ko-name 션 선생님
              span.en-name Shawn Park
              div.info-detail 
                | &#47; Fine Art Instructor
        .col-xs-12.col-sm-6.col-item
          article
            .content-thumb
              img(src="../assets/images/faculty10.png", alt="faculty10")
            .content-desc
              span.ko-name 권혜안 매니저님
              span.en-name HaeAhn Kwon
              div.info-detail 
                | &#47; Manager
// .faculty