#figure-drawing-class.figure-drawing-class
  .container
    .artphil-h1 Figure Drawing Class
      span 누드 크로키 수업
  .clearfix
  .figure-drawing-class-content
    .program-slider
      #caroufredsel-slider-figure-drawing-class.caroufredsel-slider
        ul.sliders
          li.slide-item
            img.slide-image(alt='slide-image1', src='../assets/images/figure-drawing-class-slider1.jpg')
          li.slide-item
            img.slide-image(alt='slide-image2', src='../assets/images/figure-drawing-class-slider1.jpg')
          li.slide-item
            img.slide-image(alt='slide-image3', src='../assets/images/figure-drawing-class-slider1.jpg')
        .clearfix
        .slider-control-wrap
          .container
            .container-inner
              a#caroufredsel-slider-figure-drawing-class-prev.slider-control.prev-btn(role='button', href='#')
                img(src='../assets/images/icon/icon-slider-prev.png', alt='icon-slider-prev')
              a#caroufredsel-slider-figure-drawing-class-next.slider-control.next-btn(role='button', href='#')
                img(src='../assets/images/icon/icon-slider-next.png', alt='icon-slider-next')
        #caroufredsel-slider-figure-drawing-class-pagination.slider-indicators.indicators-center-bottom
    .program-detail
      .container
        .row
          .col-xs-12.col-md-3
            .block-content
              .program-h2 
                | Class Schedule  
                span 수업시간
              .content
                .row
                  .col-xs-6.col-md-12
                    p.red-color.text-bold
                      | 매주 토요일 Every Satuday 
                      br
                      | 오전 : 11AM - 1PM
                      br
                      | 오후 : 2PM - 4PM
                  .col-xs-6.col-md-12
                    p.red-color.text-bold.text-size-10
                      | 무료 인체드로잉 수업은 시작 후 20분 
                      | 간격으로 입장이 가능합니다.
                      | 수업시작 10분전에 입장 가능 합니다.
          .col-xs-12.col-md-9
            .block-content
              .program-h2 
                | Figure Drawing 
                span 인체 드로잉 
                  span.red-color.text-bold ( 무료! )
              .content
                p
                  | 인체 드로잉은 아트필을 방문하는 학생들에게 무료로 제공되는 수업입니다. 아트필을 거쳐간 학생들은 평생 동안 드로잉 실력을 
                  | 끊임 없이 발전시킬 수 있습니다. 실력을 키우십시오. 아트필이 지원합니다! 드로잉 실력은 패션, 애니매이션, 회화 외 어떤 
                  | 전공을 선택하더라도 기본적으로 필수 요구되는 자질입니다. 
                p
                  | 특히 인체 드로잉은 드로잉 실력을 키우는 데 핵심이라 할 수 있습니다. 드로잉을 가장 짧은 시간 내에 재미있게 효과적으로 
                  | 배울 수 있기 때문입니다. 수업은 실제 누드모델의 정지된 동작의 순간을 포착하여 생동감 넘치는 선의 흐름 표현법을 익히는 
                  | 데에 중점을 두고 진행됩니다. 10초, 30초의 짧은 순간 기록되는 드로잉부터 20분 이상의 긴 호흡을 두고 진행되는 드로잉까지 
                  | 제한된 시간 내에서 여러 가지 재료와 다양한 기법을 탐구해볼 수 있는 수업입니다. 
// .figure-drawing-class