header.header.tranlucent
  .container
    .logo
      a(href='#')
        img(src='../assets/images/logo/logo-white.png', alt='logo-white')
    // .logo
    nav#nav-main.nav-main(role='navigation')
      ul.nav
        li.nav-item.menu-item
          a.nav-link(href='#') about
        li.nav-item.menu-item
          a.nav-link(href='#') contact
        li.nav-item.menu-item
          a.nav-link(href='#') Main
        li.nav-item.menu-item
          a.nav-link(href='#') news
        li.nav-item.menu-item
          a.nav-link(href='#') program
        li.nav-item.menu-item
          a.nav-link(href='#') reservation
        li.nav-item.menu-item
          a.nav-link(href='#') school
    // #nav
    .social
      ul
        li
          a(href='#')
            img(src='../assets/images/icon/icon-facebook.png', alt='icon-facebook')
        li
          a(href='#')
            img(src='../assets/images/icon/icon-pinterest.png', alt='icon-pinterest')
        li
          a(href='#')
            img(src='../assets/images/icon/icon-vimeo.png', alt='icon-vimeo')
        li
          a(href='#')
            img(src='../assets/images/icon/icon-instagram.png', alt='icon-instagram')
    // .social
// .header-tranlucent