mixin snb(...items)
  .snb#snb
    .container
      .navbar-toggle-wrap
        a.navbar-toggle.collapsed(data-toggle='collapse', data-target='#nav-sub')
      #nav-sub.navbar-collapse.collapse(role='navigation')
        ul
          each item in items
            li.snb-item #[a(href="#" + item.toLowerCase().replace(" ", "-"))= item ]