mixin footer
  footer.footer(class!=attributes.class)
    .container
      .col
        p
          | 서울 특별시 강남구 논현로 167길 12 (신사동) 
          i.divider |
          |  대표 권혁복
        p
          span Phone: 02)548-3453
          span Fax: 02)545-887
          span 사업등록: 214-95-03484
      .col
        p OPENING HOURS
        p
          | 월요일 (Mon) - 금요일 (Fri)  9:00am - 10:00pm 
          i.divider |
          |  토요일 (Sat) 9:30am - 6:00pm
      .col
        p LANGUAGE
        p
          a(href='#') Korean
          i.divider /
          a(href='#') English
  // .footer