mixin header
  header.header#gnb(class!=attributes.class)
    .container
      .logo
        a(href='main.html')
          img(src='../assets/images/logo/logo-white.png', alt='logo-white')
      // .logo
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#nav-main')
        img(src='../assets/images/icon/icon-bars.png', alt='icon-bars')
      // button collapse
      nav#nav-main.nav-main.navbar-collapse.collapse(role='navigation')
        ul.nav.navbar-nav
          li.nav-item.menu-item
            a.nav-link(href='about.html')
              span about
          li.nav-item.menu-item
            a.nav-link(href='program.html')
              span program
          li.nav-item.menu-item
            a.nav-link(href='school.html')
              span school
          li.nav-item.menu-item
            a.nav-link(href='news.html')
              span news
          li.nav-item.menu-item
            a.nav-link(href='contact.html')
              span contact
          li.nav-item.menu-item
            a.nav-link(href='accepted.html')
              span 합격자명단
          li.nav-item.menu-item
            a.nav-link(href='#')
              span 상담신청
      // #nav
      .social
        ul.clearfix
          li
            a(href='#')
              img(src='../assets/images/icon/icon-facebook.png', alt='icon-facebook')
          li
            a(href='#')
              img(src='../assets/images/icon/icon-pinterest.png', alt='icon-pinterest')
          li
            a(href='#')
              img(src='../assets/images/icon/icon-vimeo.png', alt='icon-vimeo')
          li
            a(href='#')
              img(src='../assets/images/icon/icon-instagram.png', alt='icon-instagram')
      // .social
  // .header