mixin header
  header.header(class!=attributes.class)
    .container
      .logo
        a(href='main.html')
          img(src='../assets/images/logo/logo-white.png', alt='logo-white')
      // .logo
      nav#nav-main.nav-main(role='navigation')
        ul.nav
          li.nav-item.menu-item
            a.nav-link(href='about.html')
              span about
          li.nav-item.menu-item
            a.nav-link(href='#')
              span program
          li.nav-item.menu-item
            a.nav-link(href='#')
              span school
          li.nav-item.menu-item
            a.nav-link(href='#')
              span news
          li.nav-item.menu-item
            a.nav-link(href='#')
              span contact
          li.nav-item.menu-item
            a.nav-link(href='#')
              span 합격자명단
          li.nav-item.menu-item
            a.nav-link(href='#')
              span 상담신청
      // #nav
      .social
        ul
          li
            a(href='#')
              img(src='../assets/images/icon/icon-facebook.png', alt='icon-facebook')
          li
            a(href='#')
              img(src='../assets/images/icon/icon-pinterest.png', alt='icon-pinterest')
          li
            a(href='#')
              img(src='../assets/images/icon/icon-vimeo.png', alt='icon-vimeo')
          li
            a(href='#')
              img(src='../assets/images/icon/icon-instagram.png', alt='icon-instagram')
      // .social
  // .header