#news.news
  .container
    .artphil-h1 News
  .clearfix
  .news-content
    .container
      .row
        .col-xs-12.col-md-9.main-content
          article
            .content-header
              h3.content-title 아트필 학생들 작업활동
              .content-meta
                span.date-create 2015.03.15 
            .content-thumb
              img(src="../assets/images/news1.jpg", alt="news1")
              img(src="../assets/images/news2.jpg", alt="news2")
            .content
              p
                | 전공과 관심에 따라 개인별로 진행하는 실기 수업입니다. 교수님으로부터 1대1로 나에게 필요한 프로젝트식 과제를 부여 받습니다. 
                | 각각의 과제에 맞게 스스로 자신만의 독창적인 작품 아이디어를 구상하고 발전시켜나가며 교수님의 실시간 피드백을 통하여 작품을 
                | 시작, 보완, 완성합니다.
              p
                | 12명 정원인 '반'(Class) 구성의 수업방식은 다양한 배경과 성향의 다른 학생들이 작업하는 과정을 보고 배울 수 있는 큰 장점이 있습니다. 
                | 또한, 반의 담당교수님과 수시로 현재까지 만들어진 자신의 포트폴리오를 리뷰받으며 전체적 방향을 정하게 됩니다.
              p
                | 아트필에서는 실기실에서 작품을 제작하는 것에 그치는 것이 아니라, 전시공간에 하는 설치와 디스플레이를 통해 그 작업이 
                | 가지고 있는 잠재력을 최대한으로 끌어내 보고 한계를 넘도록 연구해 봅니다.
            .content-share.clearfix
              ul
                li
                  a(href='#')
                    img(src='../assets/images/icon/icon-facebook-dark.png', alt='icon-facebook-dark')
                li
                  a(href='#')
                    img(src='../assets/images/icon/icon-twitter-dark.png', alt='icon-twitter-dark ')
          article
            .content-header
              h3.content-title 아트필 재학생 및 졸업생들 비핸스 콜렉션입니다.
              .content-meta
                span.date-create 2015.03.15 
            .content-thumb
              img(src="../assets/images/news3.jpg", alt="news3")
              img(src="../assets/images/news4.jpg", alt="news4")
            .content
              p
                | 전공과 관심에 따라 개인별로 진행하는 실기 수업입니다. 교수님으로부터 1대1로 나에게 필요한 프로젝트식 과제를 
                | 부여 받습니다. 각각의 과제에 맞게 스스로 자신만의 독창적인 작품 아이디어를 구상하고 발전시켜나가며 교수님의 
                | 실시간 피드백을 통하여 작품을 시작, 보완, 완성합니다.
              p
                | 12명 정원인 '반'(Class) 구성의 수업방식은 다양한 배경과 성향의 다른 학생들이 작업하는 과정을 보고 배울 수 
                | 있는 큰 장점이 있습니다. 또한, 반의 담당교수님과 수시로 현재까지 만들어진 자신의 포트폴리오를 리뷰받으며 
                | 전체적 방향을 정하게 됩니다.
              p
                | 아트필에서는 실기실에서 작품을 제작하는 것에 그치는 것이 아니라, 전시공간에 하는 설치와 디스플레이를 통해 그 작업이 
                | 가지고 있는 잠재력을 최대한으로 끌어내 보고 한계를 넘도록 연구해 봅니다. 
            .content-share.clearfix
              ul
                li
                  a(href='#')
                    img(src='../assets/images/icon/icon-facebook-dark.png', alt='icon-facebook-dark')
                li
                  a(href='#')
                    img(src='../assets/images/icon/icon-twitter-dark.png', alt='icon-twitter-dark ')
        .col-xs-12.col-md-3.sidebar
          aside.widget.widget-search
            form.search-form(role='search', method='get', action='')
              input.search-field(type='search', value='', placeholder='Search', onblur="if(this.placeholder=='') this.placeholder='Search';", onfocus="if(this.placeholder=='Search') this.placeholder='';")
          aside.widget.widget-category
            ul
              li
                a(href='#') 아트필소식
              li
                a(href='#') 학교소식
              li
                a(href='#') 합격자 인터뷰
              li
                a(href='#') 합격자 인터뷰 
              li
                a(href='#') 합격자 인터뷰 
              li
                a(href='#') 합격자 인터뷰  
// .news