#regular-course.regular-course
  .container
    .artphil-h1 Regular Course
    .regular-course-content
      .row
        .col-xs-12.col-sm-6.col-item
          .regular-course-table
            table
              caption 6 Month  /  6개월 과정
              tr
                th Exploring with materials
                th 1st month
              tr
                td Researching &amp; Detrailing
                td 2st month
              tr
                td Major Specific Focus
                td 3 ~ 4 month
              tr
                td Clarifying &amp; Adding Complexity
                td 5 ~ 6 month
              tr(class='border-bottom-none')
                td Home Test
                td Winter Break
              tr
                td(colspan='2', class='highlight') Producing 22~29 works   /   100%
        .col-xs-12.col-sm-6.col-item
          .regular-course-table
            table
              caption 6 Month  /  6개월 과정
              tr
                th Exploring with materials
                th 1st month
              tr
                td Researching &amp; Detrailing
                td 2st month
              tr
                td Major Specific Focus
                td 3 ~ 4 month
              tr
                td Clarifying &amp; Adding Complexity
                td 5 ~ 6 month
              tr(class='border-bottom-none')
                td Home Test
                td Winter Break
              tr
                td(colspan='2', class='highlight') Producing 22~29 works   /   100%

// .regular-course