#school.school
	.container
		.artphil-h1 School
		.select-wrap
			.map-option
				.label-select
					select
						option(value='0', selected='selected') 미국
						option(value='1') 캐나다
						option(value='2') 영국
						option(value='3') 유럽
				.label-select
					select
						option(value='0', selected='selected') 대학교
						option(value='1') 대학원
				.label-select
					select
						option(value='0', selected='selected') Accesories Design
						option(value='1') Accesories Design
						option(value='1') Accesories Design
	.school-content
		.embed-container.h600
			iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3164.2886271760503!2d127.027168!3d37.524693!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4e09f28992490657!2z7JWE7Yq47ZWEIOuvuOyIoO2VmeybkA!5e0!3m2!1sen!2s!4v1435801962751', frameborder='0', style='border:0', allowfullscreen='')
		.content-list
			.container
				ul
					li.school-item.clearfix
						.col-left
							.content-thumb
								img(src="../assets/images/school-thumb1.png", alt="school-thumb1")
						.col-right
							h3.content-title Rhode islanad school of design
								span (로드아일랜드 스쿨오브 디자인)
							.content
								p
									| 3호선 압구정역 4번 출구로 나와 전방 30M 직진 후, 우측에 있는 박정 어학원 앞 골목(광림교회 방향), 
									| 빛 마을길로 우회전 합니다. 25M 전방에 세븐일레븐 편의점을 지나 오른쪽(2~5층)에 artPhil이 위치하고 
									| 있습니다. 아트필 사무실은 2층 입니다.
							.content-footer
								span 
									| 웹사이트: 
									a(href='www.risd.edu') www.risd.edu
								span 
									| 인터뷰: 
									a(href='www.vimeo.com/123452') www.vimeo.com/123452
					li.school-item.clearfix
						.col-left
							.content-thumb
								img(src="../assets/images/school-thumb1.png", alt="school-thumb1")
						.col-right
							h3.content-title Rhode islanad school of design
								span (로드아일랜드 스쿨오브 디자인)
							.content
								p
									| 3호선 압구정역 4번 출구로 나와 전방 30M 직진 후, 우측에 있는 박정 어학원 앞 골목(광림교회 방향), 
									| 빛 마을길로 우회전 합니다. 25M 전방에 세븐일레븐 편의점을 지나 오른쪽(2~5층)에 artPhil이 위치하고 
									| 있습니다. 아트필 사무실은 2층 입니다.
							.content-footer
								span 
									| 웹사이트: 
									a(href='www.risd.edu') www.risd.edu
								span 
									| 인터뷰: 
									a(href='www.vimeo.com/123452') www.vimeo.com/123452
					li.school-item.clearfix
						.col-left
							.content-thumb
								img(src="../assets/images/school-thumb1.png", alt="school-thumb1")
						.col-right
							h3.content-title Rhode islanad school of design
								span (로드아일랜드 스쿨오브 디자인)
							.content
								p
									| 3호선 압구정역 4번 출구로 나와 전방 30M 직진 후, 우측에 있는 박정 어학원 앞 골목(광림교회 방향), 
									| 빛 마을길로 우회전 합니다. 25M 전방에 세븐일레븐 편의점을 지나 오른쪽(2~5층)에 artPhil이 위치하고 
									| 있습니다. 아트필 사무실은 2층 입니다.
							.content-footer
								span 
									| 웹사이트: 
									a(href='www.risd.edu') www.risd.edu
								span 
									| 인터뷰: 
									a(href='www.vimeo.com/123452') www.vimeo.com/123452
					li.school-item.clearfix
						.col-left
							.content-thumb
								img(src="../assets/images/school-thumb1.png", alt="school-thumb1")
						.col-right
							h3.content-title Rhode islanad school of design
								span (로드아일랜드 스쿨오브 디자인)
							.content
								p
									| 3호선 압구정역 4번 출구로 나와 전방 30M 직진 후, 우측에 있는 박정 어학원 앞 골목(광림교회 방향), 
									| 빛 마을길로 우회전 합니다. 25M 전방에 세븐일레븐 편의점을 지나 오른쪽(2~5층)에 artPhil이 위치하고 
									| 있습니다. 아트필 사무실은 2층 입니다.
							.content-footer
								span 
									| 웹사이트: 
									a(href='www.risd.edu') www.risd.edu
								span 
									| 인터뷰: 
									a(href='www.vimeo.com/123452') www.vimeo.com/123452
					li.school-item.clearfix
						.col-left
							.content-thumb
								img(src="../assets/images/school-thumb1.png", alt="school-thumb1")
						.col-right
							h3.content-title Rhode islanad school of design
								span (로드아일랜드 스쿨오브 디자인)
							.content
								p
									| 3호선 압구정역 4번 출구로 나와 전방 30M 직진 후, 우측에 있는 박정 어학원 앞 골목(광림교회 방향), 
									| 빛 마을길로 우회전 합니다. 25M 전방에 세븐일레븐 편의점을 지나 오른쪽(2~5층)에 artPhil이 위치하고 
									| 있습니다. 아트필 사무실은 2층 입니다.
							.content-footer
								span 
									| 웹사이트: 
									a(href='www.risd.edu') www.risd.edu
								span 
									| 인터뷰: 
									a(href='www.vimeo.com/123452') www.vimeo.com/123452
					li.school-item.clearfix
						.col-left
							.content-thumb
								img(src="../assets/images/school-thumb1.png", alt="school-thumb1")
						.col-right
							h3.content-title Rhode islanad school of design
								span (로드아일랜드 스쿨오브 디자인)
							.content
								p
									| 3호선 압구정역 4번 출구로 나와 전방 30M 직진 후, 우측에 있는 박정 어학원 앞 골목(광림교회 방향), 
									| 빛 마을길로 우회전 합니다. 25M 전방에 세븐일레븐 편의점을 지나 오른쪽(2~5층)에 artPhil이 위치하고 
									| 있습니다. 아트필 사무실은 2층 입니다.
							.content-footer
								span 
									| 웹사이트: 
									a(href='www.risd.edu') www.risd.edu
								span 
									| 인터뷰: 
									a(href='www.vimeo.com/123452') www.vimeo.com/123452
					li.school-item.clearfix
						.col-left
							.content-thumb
								img(src="../assets/images/school-thumb1.png", alt="school-thumb1")
						.col-right
							h3.content-title Rhode islanad school of design
								span (로드아일랜드 스쿨오브 디자인)
							.content
								p
									| 3호선 압구정역 4번 출구로 나와 전방 30M 직진 후, 우측에 있는 박정 어학원 앞 골목(광림교회 방향), 
									| 빛 마을길로 우회전 합니다. 25M 전방에 세븐일레븐 편의점을 지나 오른쪽(2~5층)에 artPhil이 위치하고 
									| 있습니다. 아트필 사무실은 2층 입니다.
							.content-footer
								span 
									| 웹사이트: 
									a(href='www.risd.edu') www.risd.edu
								span 
									| 인터뷰: 
									a(href='www.vimeo.com/123452') www.vimeo.com/123452
					li.school-item.clearfix
						.col-left
							.content-thumb
								img(src="../assets/images/school-thumb1.png", alt="school-thumb1")
						.col-right
							h3.content-title Rhode islanad school of design
								span (로드아일랜드 스쿨오브 디자인)
							.content
								p
									| 3호선 압구정역 4번 출구로 나와 전방 30M 직진 후, 우측에 있는 박정 어학원 앞 골목(광림교회 방향), 
									| 빛 마을길로 우회전 합니다. 25M 전방에 세븐일레븐 편의점을 지나 오른쪽(2~5층)에 artPhil이 위치하고 
									| 있습니다. 아트필 사무실은 2층 입니다.
							.content-footer
								span 
									| 웹사이트: 
									a(href='www.risd.edu') www.risd.edu
								span 
									| 인터뷰: 
									a(href='www.vimeo.com/123452') www.vimeo.com/123452
					li.school-item.clearfix
						.col-left
							.content-thumb
								img(src="../assets/images/school-thumb1.png", alt="school-thumb1")
						.col-right
							h3.content-title Rhode islanad school of design
								span (로드아일랜드 스쿨오브 디자인)
							.content
								p
									| 3호선 압구정역 4번 출구로 나와 전방 30M 직진 후, 우측에 있는 박정 어학원 앞 골목(광림교회 방향), 
									| 빛 마을길로 우회전 합니다. 25M 전방에 세븐일레븐 편의점을 지나 오른쪽(2~5층)에 artPhil이 위치하고 
									| 있습니다. 아트필 사무실은 2층 입니다.
							.content-footer
								span 
									| 웹사이트: 
									a(href='www.risd.edu') www.risd.edu
								span 
									| 인터뷰: 
									a(href='www.vimeo.com/123452') www.vimeo.com/123452
					li.school-item.clearfix
						.col-left
							.content-thumb
								img(src="../assets/images/school-thumb1.png", alt="school-thumb1")
						.col-right
							h3.content-title Rhode islanad school of design
								span (로드아일랜드 스쿨오브 디자인)
							.content
								p
									| 3호선 압구정역 4번 출구로 나와 전방 30M 직진 후, 우측에 있는 박정 어학원 앞 골목(광림교회 방향), 
									| 빛 마을길로 우회전 합니다. 25M 전방에 세븐일레븐 편의점을 지나 오른쪽(2~5층)에 artPhil이 위치하고 
									| 있습니다. 아트필 사무실은 2층 입니다.
							.content-footer
								span 
									| 웹사이트: 
									a(href='www.risd.edu') www.risd.edu
								span 
									| 인터뷰: 
									a(href='www.vimeo.com/123452') www.vimeo.com/123452
					