.why-artphil
  #caroufredsel-slider-main.caroufredsel-slider
    ul.sliders
      li.slide-item
        img.slide-image(alt='slide-image1', src='../assets/images/slide-main.jpg')
      li.slide-item
        img.slide-image(alt='slide-image2', src='../assets/images/slide-main.jpg')
      li.slide-item
        img.slide-image(alt='slide-image3', src='../assets/images/slide-main.jpg')
      li.slide-item
        img.slide-image(alt='slide-image4', src='../assets/images/slide-main.jpg')
      li.slide-item
        img.slide-image(alt='slide-image5', src='../assets/images/slide-main.jpg')
    .clearfix
    .slider-control-wrap
      .container
        .container-inner
          a#caroufredsel-slider-main-prev.slider-control.prev-btn(role='button', href='#')
            img(src='../assets/images/icon/icon-slider-prev.png', alt='icon-slider-prev')
          a#caroufredsel-slider-main-next.slider-control.next-btn(role='button', href='#')
            img(src='../assets/images/icon/icon-slider-next.png', alt='icon-slider-next')
    #caroufredsel-slider-main-pagination.slider-indicators.indicators-center-bottom
// .why-artphil