.why-artphil
  .container
    h2.section-title Why Artphil
    .why-artphil-content
      .row
        .col-xs-12.col-sm-6
          article
            .content-thumb
              a(href='#', title='', style='background-image: url(../assets/images/post-bmhmvghmvmvrdd.jpg);')
            h3.content-title My Artphil
            .content
              p
                | 선생님들과 Monthly Reports를 통해 소통을 유지하여 내 여정이 어떻게 펼쳐지고 있는지 확인합니다. 희망 전공과 희망 학교를 정하여 리스트를 업데이트하고 나의 목적지를 정확히 세우는 시스템.
// .why-artphil