.why-artphil
  .container
    h2.section-title Why Artphil
    .why-artphil-content
      .row
        .col-xs-12.col-sm-6.col-item
          article
            span.content-thumb(style='background-image: url(../assets/images/why-artphil1.jpg);')
            h3.content-title
              a(href="#", title="") My Artphil
            .content
              p
                | 선생님들과 Monthly Reports를 통해 소통을 유지하여 내 여정이 어떻게 펼쳐지고 있는지 확인합니다. 희망 전공과 희망 학교를 정하여 리스트를 업데이트하고 나의 목적지를 정확히 세우는 시스템.
        .col-xs-12.col-sm-6.col-item
          article
            span.content-thumb(style='background-image: url(../assets/images/why-artphil2.jpg);')
            h3.content-title
              a(href="#", title="") Study Abroad Center
            .content
              p
                | 아트필 유학센터는 학생들의 효율적인 학교지원을 위해 유학지원에 관련된 
                | total service를 제공합니다. 21년간 모든 아트 스쿨의 지원 경험을 토대로 정확하고
                | 광범위한 자료를 확보하고 있으며, 미술실기 지도 선생님과의 밀접한 교류를 통하여 
                | 보다 효율적인 학교지원 수속을 받으실 수 있습니다. 또한, 유학센터는 학교지원에 
                | 필요한 에세이(Statement of Purpose)에 대해 1:1 첨삭 지도를 하고 있습니다.
              a.link(href="#", title="") 유학수속과정 다운로드
        .col-xs-12.col-sm-6.col-item
          article
            span.content-thumb(style='background-image: url(../assets/images/why-artphil3.jpg);')
            h3.content-title
              a(href="#", title="") Project Broom
            .content
              p
                | 국내외에서 활발히 활동하는 작가들의 작품들이 전시되며, 매년 아트필 졸업생 
                | 정기전과 동문전, 드로잉전 외 다수의 전시를 통하여 현실화된 여러분의 꿈을 
                | 펼쳐 보일 수 있는 기회를 제공합니다. 또한, 소셜공간으로서 전시뿐만이 아니라 
                | 예술영화 감상과 졸업생 파티와 같은 다양한 이벤트가 열리는 공간입니다.
              a.link(href="#", title="") 웹사이트 가기 --&gt;
        .col-xs-12.col-sm-6.col-item
          article
            span.content-thumb(style='background-image: url(../assets/images/why-artphil4.jpg);')
            h3.content-title
              a(href="#", title="") Namu Studio
            .content
              p
                | 나무 스튜디오는 작가와 학생들의 작품사진이 외부로 유출되지 않도록 
                | 철저히 관리하는 아트필만의 포트폴리오전문 사진관입니다.
        .col-xs-12.col-sm-6.col-item
          article
            span.content-thumb(style='background-image: url(../assets/images/why-artphil5.jpg);')
            h3.content-title
              a(href="#", title="") Special Lectures
            .content
              p
                | 국내외에서 활발히 활동하는 작가들의 작품들이 전시되며, 매년 아트필 
                | 졸업생 정기전과 동문전, 드로잉전 외 다수의 전시를 통하여 현실화된 여러분의
                | 꿈을 펼쳐 보일 수 있는 기회를 제공합니다. 또한, 소셜공간으로서 전시뿐만이
                | 아니라 예술영화감상과 졸업생 파티와 같은 다양한 이벤트가 열리는 공간입니다.
              a.link(href="#", title="") 비디오 감상하기 -&gt;
// .why-artphil