.about {
	margin-top: 70px;
	margin-bottom: 65px;

	&-block + &-block {
		margin-top: 37px; 
	}

	&-block-content {
		color: @gray2-color;
		line-height: 1.6;
	}

	&-sep {
		border-top: 1px solid @gray2-color;
		width: 31px;
		margin-top: 10px;
		margin-bottom: 15px;
	}

	&-block_wrapper {
		margin-top: 50px;
	}
}