/* --------------------------------------------------------------------- */
/* .faculty
/* --------------------------------------------------------------------- */
.faculty {
	margin-bottom: 37px;
	
	.faculty-content {
		.row {
			margin-left: -16px;
			margin-right: -16px;

			[class^="col-"] {
				padding-right: 16px;
				padding-left: 16px;
			}
		}
	}

	.col-item {
		background-color: #fff !important;
		margin-bottom: 32px;

		@media screen and (max-width: 479px) {
			width: 100%;
			height: auto !important;
			margin-bottom: 40px;
		}

		&.active,
		&:hover {
			.content-thumb img {
				opacity: 0;
				visibility: hidden;
			}

			.content-hover {
				opacity: 1;
				visibility: visible;
				background-color: #D5D5D5;
			}
		}
	}

	.artphil-h1 {
		margin-bottom: 57px;
	}

	.content-thumb {
		position: relative;
		text-align: center;
		border-radius: 50%;
		overflow: hidden;

		img {
			width: 100%;
			transition: all 0.4s ease;
		}

		.content-hover {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			overflow: hidden;
			transition: all 0.4s ease;

			.content-hover-inner {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				transform: translate(-50%, -50%);
			}
		}
	}

	.lime1-color .content-hover {
		background-color: #1fff5a !important; 
	}

	.magenta-color .content-hover {
		background-color: #ff1fe6 !important; 
	}

	.aqua-color .content-hover {
		background-color: #23faff !important; 
	}

	.yellow-color .content-hover {
		background-color: #ffec27 !important; 
	}

	.darkorange-color .content-hover {
		background-color: #ff6907 !important; 
	}

	.blueviolet-color .content-hover {
		background-color: #9f41ff !important; 
	}

	.deepskyblue-color .content-hover {
		background-color: #1aa2ff !important; 
	}

	.red-color .content-hover {
		background-color: #ff0f14 !important; 
	}

	.lime2-color .content-hover {
		background-color: #37cf00 !important; 
	}

	.lightpink-color .content-hover {
		background-color: #ff7d79 !important; 
	}

	.content-title {
		font-family: 'NanumGothic';
		font-size: 26px;
		font-weight: bold;
		color: #000;
	  margin: 0 auto 30px;
	}

	.content-desc {
		text-align: center;

		&,
		span,
		a { 
			font-family: "NanumGothic";
		}

		.ko-name {
			display: block;
			font-size: 14px;
			font-weight: bold;
			color: #000;
		}

		.en-name {
			display: block;
			font-size: 14px;
			font-weight: normal;
			color: #000;
		}

		.info-detail {
			display: block;
			font-size: 14px;
			font-weight: normal;
			color: #000;
		}
	}
}