/* --------------------------------------------------------------------- */
/* .footer-tranlucent
/* --------------------------------------------------------------------- */
.footer {
  width: 100%;
  background: #333;
  padding: 36px 0;

  @media screen and (max-width: 1199px) {
    padding-bottom: 16px;
  }

  &.tranlucent {
    background: rgba(0, 0, 0, 0.8);
  }

  &.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9000;
  }

  &.static {
    position: static;
  }

  &, a, span, i {
    font-family: 'NanumGothic';
    font-size: 11px;
    line-height: 1.7;
    color: #fff;
  }

  a:hover {
    text-decoration: underline;
  }

  .title-footer {
    font-family: 'NanumGothic';
    font-size: 11px;
    letter-spacing: 2.5px;
    color: #898989;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 10px 0;
  }

  .col {
    position: relative;
    float: left;
    padding-right: 35px;
    margin-right: 35px;

    @media screen and (max-width: 1199px) {
      float: none;
      padding-right: 0;
      margin-right: 0;
      margin-bottom: 20px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 25px;
      background: #fff;

      @media screen and (max-width: 1199px) {
        width: 0;
        height: 0;
        display: none;
      }
    }

    &:last-child {
      padding-right: 0;
      margin-right: 0;
      
      &:after {
        width: 0;
        height: 0;
        display: none;
      }
    }

    p {
      margin: 0 0 2px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
    
    .divider {
      margin: 0 8px;
    }

    &.language {
      a {
        @media screen and (max-width: 991px) {
          text-transform: uppercase;
        }
      }

      &:after {
        width: 0;
        height: 0;
        display: none;
      }
    }
  }

  .social {
    margin: 20px 0;
    
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
}
