/* --------------------------------------------------------------------- */
/* .header-tranlucent
/* --------------------------------------------------------------------- */
.header {
  width: 100%;
  background: #a2a2a2;
  z-index: 9000;

  &.tranlucent {
    background: rgba(34, 34, 34, 0.8);
  }

  .logo {
    float: left;
    margin: 21px 40px 0 0;
  }

  .nav-main {
    float: left;

    .nav {
      > li {
        float: left;

        > a {
          // position: absolute;
          font-size: 15px;
          color: #fff;
          font-weight: bold;
          padding: 24px 20px;

          &:hover,
          &:focus {
            background: none transparent;
          }

          // &:hover {
          //   &:after {
          //     content: "";
          //   }
          // }
        }
      }
    }
  }

  .social {
    float: right;
    margin: 16px 0;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        float: left;

        & + li {
          margin-left: 14px;
        }
      }
    }
  }
}
