/* --------------------------------------------------------------------- */
/* .intensive-course
/* --------------------------------------------------------------------- */
.intensive-course {
	margin-bottom: 15px;

	.artphil-h1 {
		margin-bottom: 50px;
	}

	.table-wrap {
	  margin-bottom: 35px;
	}

	.program-table {
	  table {
	    th,
	    td {
	      &:nth-child(1) {
	        width: 832px;
	      }

	      &:nth-child(2) {
	      }
	    }
	  }
	}
}