/* --------------------------------------------------------------------- */
/* .regular-course
/* --------------------------------------------------------------------- */
.regular-course {
  margin-top: 46px;
	margin-bottom: 37px;

	.artphil-h1 {
		margin-bottom: 56px;
	}
}