/* --------------------------------------------------------------------- */
/* .regular-course
/* --------------------------------------------------------------------- */
.regular-course {
	margin-bottom: 60px;

	.col-item {
		@media screen and (max-width: 767px) {
			height: auto !important;
			margin-bottom: 40px;
		}
	}

	.artphil-h1 {
		margin-bottom: 56px;
	}

	.regular-course-table {
		table {
			width: 100%;

			&,
			th,
			td {
				border: 1px solid #555555;
			}

			caption {
				font-family: 'NanumGothic';
				font-size: 21px;
				font-weight: bold;
				font-style: italic;
				color: #000;
				padding-top: 0;
				pointer-events: 20px;
			}

			.highlight {
  			font-family: 'Georgia-Italic';
  			font-size: 21px;
				background-color: #90e04c;
				border-color: #90e04c;
				color: #fff;
				font-style: italic;
				text-align: center;
			}

			.border-bottom-none {
				td {
					border-bottom: 0 none;
				}
			}
		}
	}
}