/* --------------------------------------------------------------------- */
/* .snb
/* --------------------------------------------------------------------- */
.snb {
	@height: 40px;

	@media screen and (min-width: 992px) {
		height: @height;
		line-height: @height;
	}

	> .container {
		@media screen and (max-width: 991px) {
			width: 100%;
			padding: 0;
			margin: 0;
		}
	}

	#nav-sub {
		padding: 0;
		margin: 0;

		&.collapsing, 
		&.in {
		  border-bottom: 1px solid #ccc;

		  @media screen and (min-width: 992px) {
		  	border-bottom: 0 none;
		  }
		}
		
		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			@media screen and (max-width: 991px) {
				text-align: center;
				padding: 10px 0;
			}
			
			.snb-item {
				display: inline-block;
				font-family: 'NanumGothic';

				@media screen and (max-width: 991px) {
					display: block;
					padding: 5px 0;
				}

				&.active {
					a {
						border-bottom: 2px solid #636363;
					}
				}

				a { 
					color: #636363;
					font-weight: bold;
					text-decoration: none;
				}
			}

			.snb-item + .snb-item {
				margin-left: 48px;

				@media screen and (max-width: 991px) {
					margin-left: 0;
				}
			}
		}
	}

	&.fixed {
		position: fixed;
		z-index: 1000;
		background: white;
		top: 0; left: 0;
		width: 100%;
	  border-bottom: 1px solid #ccc;

	  @media screen and (max-width: 991px) {
	  	border-bottom: 0 none;
	  }
	}

	.navbar-toggle-wrap {
		text-align: center;
		border-bottom: 1px solid #ccc;

		@media screen and (min-width: 992px) {
			display: none;
		}
	}

	.navbar-toggle {
		display: none;
		float: none;
		cursor: pointer;
		text-align: center;
		color: #000;
		line-height: 1;
		border: 0 none;
		background: url("../images/icon/angle-up.png") center right no-repeat;
	  border-radius: 0;
		padding-right: 20px;
		margin: 0;

		@media screen and (max-width: 991px) {
			display: inline-block;
		}

		&.collapsed {
			background: url("../images/icon/angle-down.png") center right no-repeat;
		}
	}
}