/* --------------------------------------------------------------------- */
/* .snb
/* --------------------------------------------------------------------- */
.snb {
	@height: 40px;

	height: @height;
	line-height: @height;

	ul {
		padding: 0;
	}

	&-item {
		display: inline-block;
		font-family: 'NanumGothic';
		a { color: black; }
	}

	&-item + &-item {
		margin-left: 48px;
	}

	&.fixed {
		position: fixed;
		z-index: 1000;
		background: white;
		top: 0; left: 0;
		width: 100%;
	}
}