.artphil-h1 {
	font-family: 'Gotham-Bold';
	text-decoration: underline;
	font-size: 42px;
}

.artphil-h2 { 
	font-family: 'Georgia-Italic';
	font-size: 26px;
}

.artphil-p-small {
	font-family: 'Georgia-Italic';
	font-size: 16px;
} 

.artphil-big-guy {
	font-size: 44px;
}

span.artphil-hightlight {
	background: yellow;
	font-weight: bold;
	color: #636363;
}

.program-h2 {
	position: relative;
	font-family: 'NanumGothic';
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: #000;
	margin: 0 0 42px 0;

	&:after {
		content: "";
		position: absolute;
		bottom: -20px;
		left: 0;
		height: 1px;
		width: 40px;
		background: #000; 
	}
}
