.artphil-h1 {
	float: left;
	font-family: 'Gotham-Bold';
	text-decoration: underline;
	font-size: 42px;
	color: #000;

	span {
		float: right;
		font-family: 'NanumGothic';
		font-size: 27px;
		line-height: 66px;
		margin-left: 20px;
	}
}

.artphil-h2 { 
	font-family: 'Georgia-Italic';
	font-size: 26px;
	color: #000;

	@media screen and (max-width: 991px) {
		font-size: 21px;
	}
}

.artphil-p-small {
	font-family: 'Georgia-Italic';
	font-size: 16px;
} 

.artphil-big-guy {
	font-size: 44px;

	@media screen and (max-width: 991px) {
		font-size: 36px;
	}
}

span.artphil-hightlight {
	background: yellow;
	font-weight: bold;
	color: #000;
}

.program-h2 {
	position: relative;
	font-family: 'NanumGothic';
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: #000;
	margin: 0 0 42px 0;

	&:after {
		content: "";
		position: absolute;
		bottom: -20px;
		left: 0;
		height: 1px;
		width: 40px;
		background: #000; 
	}
}
