.artphil-h1 {
	font-family: 'Gotham-Bold';
	text-decoration: underline;
	font-size: 42px;
}

.artphil-h2 { 
	font-family: 'Georgia-Italic';
	font-size: 26px;
}

.artphil-p-small {
	font-family: 'Georgia-Italic';
	font-size: 16px;
} 

.artphil-big-guy {
	font-size: 44px;
}

span.artphil-hightlight {
	background: yellow;
	font-weight: bold;
	color: #636363;
}
