/* --------------------------------------------------------------------- */
/* .why-artphil
/* --------------------------------------------------------------------- */
.why-artphil {
  .content-thumb {
  	a {
  		display: block;
  		width: 100%;
  		height: 245px;
  		background-size: cover;
  	}
  }
}